@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    background: hsl(235, 18%, 26%);
}

.main-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

.left-container{
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.left-content h1{
    font-size: 2.3rem;
    color:hsl(234, 29%, 20%);
    margin-bottom: 15px;
}

.left-content p{
    font-size: 0.8rem;
    color: hsl(235, 18%, 26%);
    font-weight: 500;
}

.list-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 13px;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.list-item img{
    margin-right: 10px;
    width: 6%;
}

.list-item p{
    font-size: 0.8rem;
    color: hsl(235, 18%, 26%);
    font-weight: 500;
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 0.7rem;
    font-weight: 500;
    color:hsl(234, 29%, 20%);
}

form input{
    margin-top: 5px;
    border: 1.5px solid hsl(231, 7%, 60%);
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 0.8rem;
    outline: none;
    color:hsl(234, 29%, 20%);
}

form button{
    background: hsl(234, 29%, 20%);
    margin-top: 15px;
    padding: 12px 15px;
    border-radius: 6px;
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

form button:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, hsl(352, 100%, 67%), hsl(4, 100%, 67%));
}

::placeholder{
    font-size: 0.8rem;
    color: hsl(231, 7%, 60%);
}

.right-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.right-container .img-content{
    width: 100%;
    height: 70dvh;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
}

.right-container .img-content:hover{
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.success-container{
    width: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}

.success-content{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.success-content img{
    width: 15%;
}

.success-content h1{
    margin-top: 15px;
    color: hsl(234, 29%, 20%);
}

.success-content p{
    margin-top: 15px;
    font-size: 0.8rem;
    line-height: 20px;
    color: hsl(235, 18%, 26%);
}

.success-content p strong{
    color: hsl(234, 29%, 20%);
}

.success-content a{
    background: hsl(234, 29%, 20%);
    margin-top: 25px;
    padding: 12px 15px;
    border-radius: 6px;
    font-size: 0.8rem;
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.success-content a:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, hsl(352, 100%, 67%), hsl(4, 100%, 67%));
}

/* Responsive Starts here  */
@media screen and (min-width: 240px) and (max-width: 1000px){

    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        background: hsl(0, 0%, 100%);
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }

    .left-container{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .right-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:10px;
    }    
    
    .right-container .img-content{
        width: 100%;
        height: 40dvh;
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        transition: 0.4s ease-in-out;
    }

    
    .success-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: hsl(0, 0%, 100%);
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px;
    }

}

